@font-face {
  font-family: "Wallman Sans";
  src:
    url("../fonts/Wallman-Bold-free.ttf") format("truetype"),
    url("../fonts/Wallman-Bold-free.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SfproRegular Sans";
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "SfproSemibold Sans";
  src: url("../fonts/SF-Pro-Text-Semibold.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "SfproDisplayLightItalic Sans";
  src: url("../fonts/SF-Pro-Text-LightItalic.otf") format("opentype");
  font-style: italic;
}
